@{
    Layout = null;
}
@model List<Hongxin.ViewModel.OrderDetail.IndexViewModel>
<link href="~/Content/orderDetail.css" rel="stylesheet" />

<div>
    <span style="float: left;">采购单明细：</span>
    @*<div style="float: left;">
        <div class="detail-unfinished" style="width: 50px; height: 20px;"></div>未完成
    </div>
    <div style="float: left;margin-left: 20px;">
        <div class="detail-finished" style="width: 50px; height: 20px;"></div>已完成
    </div>*@
</div>
<table class="table table-detail table-condensed table-bordered">
    <thead>
        <tr>
            <th width="42px">序号</th>
            <th width="350px">品名规格</th>
            <th width="60px">单位</th>
            <th width="100px">数量</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Count == 0)
            {
                <tr>
                    <td colspan="6" style="text-align: center; color: #000000;">无</td>
                </tr>
            }
            foreach (var det in Model)
            {
                @*if (det.Output >= det.Total)
                {
                    <tr class="detail-finished">
                        <td>@det.SortIndex</td>
                        <td>@det.Name</td>
                        <td>@det.Size</td>
                        <td>@det.Unit</td>
                        <td>@det.Total</td>
                        <td>@det.Remark</td>
                    </tr>
                }
                else
                {*@
                    <tr class="detail-unfinished">
                        <td>@det.SortIndex</td>
                        <td>@det.Name</td>
                        <td>@det.Unit</td>
                        <td>@det.Total</td>
                        <td>@det.Remark</td>
                    </tr>
                //}

            }
}
        @*<tr class="detail-unfinished">
            <td>1</td>
            <td>强化清玻380*206*5</td>
            <td>PCS</td>
            <td>700</td>
            <td>520</td>
            <td>四边细磨斜边20留3MM(请附备品)/WQ52C4DRTB用</td>
        </tr>
        <tr class="detail-finished">
            <td>2</td>
            <td>强化清玻386*118*5</td>
            <td>PCS</td>
            <td>600</td>
            <td>600</td>
            <td>四边细磨斜边20留3MM(请附备品)/W44CFD用</td>
        </tr>
        <tr class="detail-finished">
            <td>3</td>
            <td>强化清玻386*118*5</td>
            <td>PCS</td>
            <td>1400</td>
            <td>1400</td>
            <td>四边细磨斜边20留3MM(请附备品3片)/W44CCRBL用</td>
        </tr>
        <tr class="detail-unfinished">
            <td>4</td>
            <td>强化清玻386*118*5</td>
            <td>PCS</td>
            <td>800</td>
            <td>700</td>
            <td>四边细磨斜边20留3MM(请附备品3片)/WQ44CCRTB用</td>
        </tr>
        <tr class="detail-unfinished">
            <td>5</td>
            <td>强化清玻340*270*5</td>
            <td>PCS</td>
            <td>642</td>
            <td>640</td>
            <td>四边细磨斜边20留3MM(请附备品3片)/W58FP4DW用</td>
        </tr>*@
    </tbody>
</table>